* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10% auto 10% auto;
  place-items: center;
}

.task-input {
  width: 50%;
}

.enter-task {
  width: 20%;
}

.title {
  margin: 2% auto 20% auto;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 4rem;
}
